/**
* Container
*/

#container {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  opacity: 0;

  &.transition {
    animation: forwards 0.5s transition-effect;
  }
}

/**
* Header
*/

#header {
  padding: 0 30px;
  margin-top: 45px;
  text-align: center;

  .title {
    color: rgba(var(--font-accent-color), 1);
    margin: 0;
    line-height: 50px;
    position: relative;

    &:hover {
      .date,
      .go-home {
        opacity: 1;
        transition: all 0s step-start;
      }
    }
  }

  .navbar a {
    margin: 0 5px;
    font-size: 14px;
  }

  .date {
    width: 100%;
    display: block;
    position: absolute;
    left: 50%;
    font-size: 14px;
    color: rgba(var(--font-color), 1);
    font-weight: normal;
    transform: translate(-50%, -10px);
    opacity: 0;
    transition: all 2s step-end;
  }

  .go-home {
    display: inline-block;
    font-size: 25px;
    line-height: 20px;
    position: absolute;
    transform: translate(8px, 10px);
    opacity: 0;
    transition: all 2s step-end;
  }
}

/**
* Body
*/

#content {
  width: 90%;
  max-width: 700px;
  margin: 80px auto;
  padding-bottom: 50px;
}

/**
* Article
*/

article.post {
  .post-meta {
    margin-top: 50px;

    ul.tags {
      padding: 0;
      list-style: none;

      a {
        border-radius: 5px;
      }

      li {
        float: left;
        padding: 2px 10px;
        margin-right: 6px;
        background: rgba(var(--bg-general-color), 1);
      }

      &::after {
        content: '';
        clear: both;
        display: block;
      }
    }
  }

  .post-content {
    // Heading
    h1 {
      font-size: 1.8em;
    }
    h2 {
      font-size: 1.6em;
    }
    h3 {
      font-size: 1.4em;
    }
    h4 {
      font-size: 1.2em;
    }
    h5,
    h6 {
      font-size: 1.1em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: rgba(var(--font-accent-color), 1);
      font-weight: 500;
      line-height: 1.2;
      margin: 40px 0 20px 0;

      &:first-child {
        margin-top: 0;
      }

      &::before {
        content: '#';
        display: inline-block;
        width: 20px;
        font-size: 0.9em;
        margin-left: -20px;
        color: rgba(var(--font-color), 0.3);
      }
    }

    // Code
    code {
      margin: 0 1px;
      padding: 2px 6px;
      font-size: 0.85em;
      border-radius: 4px;
      color: rgba(var(--font-general-color), 1);
      background: rgba(var(--bg-general-color), 1);
    }

    pre code {
      display: block;
      overflow: auto;
      margin: 0.8em 0;
      padding: 1em 1.5em;
      color: rgba(var(--font-general-color), 1);
      background: rgba(var(--bg-accent-color), 1);
    }

    .highlight {
      margin: 0.8em 0;
      padding: 1em 1.5em;
      font-size: 0.9em;
      border-radius: 6px;
      position: relative;
      background: rgba(var(--bg-accent-color), 1);

      pre {
        margin: 0;
        display: block;
        overflow: auto;
        background-color: transparent !important;
      }

      code {
        color: #d1d1d1;
        padding: 0;
        font-size: 1em;
      }

      & + .highlight {
        margin-top: -1.4em;
        padding-top: 1.6em;
        border-top: none;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0.6em;
          width: 100%;
          border-top: 1px dashed #545966;
        }
      }
    }

    // Quotation
    blockquote {
      color: rgba(var(--font-color), 1);
      margin: 0;
      position: relative;
      padding: 1.2em 30px 1.2em 55px;
      background: rgba(var(--bg-general-color), 1);
      border-left: 8px solid rgba(var(--font-general-color), 1);

      &::before {
        font-family: Arial;
        content: '\201C';
        color: rgba(var(--font-general-color), 1);
        font-size: 4em;
        position: absolute;
        left: 15px;
        top: -10px;
      }

      p {
        margin: 0;
      }

      code {
        background: rgba(var(--bg-color), 1);
      }
    }

    // List
    ul,
    ol {
      padding-left: 1.25em;
    }

    // Table
    table {
      border-collapse: collapse;

      th {
        background: rgba(var(--bg-color), 1);
      }
      caption {
        border-bottom: none;
      }

      th,
      td,
      caption {
        color: rgba(var(--font-color), 1);
        padding: 0.5em 1em;
        border: 1px solid rgba(var(--bg-general-color), 1);
      }
    }

    // Superscript
    sup a {
      &::before {
        content: '[';
        margin-left: 3px;
      }

      &::after {
        content: ']';
        height: 0px;
        transition: none;
        padding-left: 13px;
      }
    }
  }
}

article.post-item {
  margin-bottom: 5px;

  .date {
    font-size: 12px;
    margin-left: 8px;
    color: rgba(var(--font-color), 0.9);
  }
}

/**
* Pagination
*/

ul.pagination {
  padding: 0;
  list-style: none;

  li {
    margin-right: 5px;
    display: inline-block;
  }
}

/**
* Back to top
*/

#back-to-top {
  bottom: calc(3em + 40px);
  background: transparent;
  padding: 2px;
  transition-duration: 0.2s;
  width: 36px;
  height: 36px;
  opacity: 0.8;
  position: fixed;
  right: 50px;
  border-radius: 50%;
  line-height: 36px;
  font-size: 18px;

  svg {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 36px;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
    flex-shrink: 0;
  }

  &:hover {
    border: 0;
    opacity: 1;
    cursor: pointer;
    background: rgba(var(--bg-general-color), 1);
    box-shadow: 0px 0px 2px rgba(var(--bg-general-color), 1);

    &::after {
      display: none;
    }
  }
}

/**
* Progress bar
*/

#progressBar {
  --delay: 0.3s;
  height: 2px;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(var(--font-general-color), 1);
  transition: all var(--delay) cubic-bezier(0.02, 0.01, 0.47, 1);

  &.blur {
    --delay: 0.2s;
    width: 120% !important;
  }
}

/**
* TOC
*/

#TableOfContents {
  overflow: auto;
  position: fixed;
  top: 120px;
  right: 60px;
  width: 200px;
  font-size: 12px;
  max-height: 320px;
  padding: 5px 20px;
  background: rgba(var(--bg-general-color), 1);

  a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  ul {
    padding-left: 0px;
    list-style: none;
  }

  ul ul {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 5px;
  }
}

/**
* Mobile adaptation
*/

@media (max-device-width: 1024px) {
  // Back to top
  #back-to-top {
    display: none;
  }

  // Article heading
  #header {
    .date,
    .go-home {
      opacity: 1;
    }
  }
}

/**
* Animations
*/

@keyframes transition-effect {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
