@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply dark:bg-slate-900;
}

body > main {
    @apply hidden;
}

#nprogress .bar {
    background-color: #f472b6 !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #f472b6, 0 0 5px #f472b6 !important;
}

#nprogress .spinner {
    display: none !important;
}

.markdown-content {
    @apply text-slate-700 dark:text-slate-300;
}

/* Markdown headers */
.markdown-content :is(h1,h2,h3,h4,h5,h6) {
    @apply relative text-slate-800 dark:text-slate-200;
}

.markdown-content :is(h2,h3,h4,h5,h6)::before {
    content: '';
    width: 1em;
    @apply absolute left-px bottom-0 border-t-2 border-dashed border-slate-600 dark:border-slate-400;
}

.markdown-content h1:hover + time {
    opacity: 1;
}

.markdown-content h2::before {
    @apply border-pink-600 dark:border-pink-400;
}

/* Markdown image */
.markdown-content img[align=left] {
    @apply float-left mr-4;
}

.markdown-content img[align=right] {
    @apply float-right ml-4;
}

.markdown-content img[align=center] {
    @apply block mx-auto;
}

.markdown-content figcaption {
    @apply my-2 text-xs text-center text-slate-400 dark:text-slate-500;
}

@media (prefers-color-scheme: dark) {
    .markdown-content img {
        filter: url(#invertLightness);
    }
}

/* KaTeX */
.katex-display .katex-html {
    overflow: auto hidden;
}
